USE [master]
GO
/****** Object:  Database [SimpleDB]    Script Date: 7/29/2023 11:24:45 AM ******/
CREATE DATABASE [SimpleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimpleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\SimpleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SimpleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\SimpleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimpleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimpleDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/29/2023 11:24:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [varchar](50) NOT NULL,
	[LoginID] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([ID], [LoginID], [Password]) VALUES (N'1', N'huy', N'huy')
INSERT [dbo].[Account] ([ID], [LoginID], [Password]) VALUES (N'2', N'huy2', N'huy2')
GO
USE [master]
GO
